
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/bootstrap/pulse.bootstrap.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Prodavnica</title>
</head>
<body>
        <div class="row m-1 p-2">
            <div class="col-3">
                <h1>Prodavnica projekat</h1>
            </div>
            <div class="col-7">&nbsp;</div>
            <div class="col-2 text-right">
                @await Component.InvokeAsync("CartSummary") 
            </div>
        </div>
    <div class="row m-1 p-2">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>